<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TutteeFrame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TutteeFrame.Properties.Settings>
            <setting name="ServerConnectionString" serializeAs="String">
                <value>Server = {0},{1};Initial Catalog = TutteeFrame;User ID = {2};Password = {3};Integrated Security = False;Connect Timeout = 20;</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastServerAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPasswordAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMeOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastID" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPass" serializeAs="String">
                <value />
            </setting>
        </TutteeFrame.Properties.Settings>
    </applicationSettings>
</configuration>